#palette-2-heading{
    background-color: #DB9E51;
    padding-bottom: 7%;
}

#palette-3-heading{
    background-color: #DED1B4;
    padding-bottom: 7%;
}

#palette-4-heading{
    background-color: #DB8048;
    padding-bottom: 7%;
}