/* Drill 1 - Write your code solution below */
.d1-div{
    margin-top: 4%;
}

/* The correct way*/

#d1-div2{
    margin-top: 24px;
}


/* Drill 2 - Write your code solution below */
#d2-div2{
    margin-top: 23px;
}

#d2-div3{
    margin-top: 23px;
}

/* another solution */

#d2-div2 {
    margin-top: 24px;
    margin-bottom: 24px;
}

/* Drill 3 - Write your code solution below */
#d3-div2{
    margin-top: 24px;
}
/* both are solutions */

#d3-div1{
    margin-bottom: 24px;
}

/* Drill 4 - Write your code solution below */
#d4-div1{
    margin-bottom: 24px;
}

#d4-div2{
    margin-bottom: 24px;
}

/* Drill 5 - Write your code solution below */


/* Drill 6 - Write your code solution below */


/* Drill 7 - Write your code solution below */
