#layout {
    display: grid; 
    grid-template-columns: 1fr 4fr 9fr;
    grid-template-areas: 
    "h h h"
    "c1 c2 c3";
}

#header {
    background-color: lightblue;
    padding: 0px;
}
    

#column-1 {
 
    grid-area: h;
    padding: 15px;
    text-align: center
   
}

#column-2 {

    padding: 15px;
    grid-area: c1;
    padding-top:15px;
}

#column-3 {
   
    grid-area: c2;
    padding: 15px;
    margin-left: 10px;
}
   


#column-4 {
    grid-area: c3;
    margin-top: 8px;
}

