@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .pt-sans-regular-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .pt-sans-bold-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }


* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background-color: #A67C52;
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px;
}

#navbar a:hover {
    background-color: #603813;
}

#navbar #logo img {
    margin-right: auto;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*
    Dropdown styling ********************************************
*/
.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;

   
    z-index: 10;
}


.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}


.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: #A67C52;
    width: 100%;
    min-width: 200px;
}



#navbar .dropdown-menu a:hover {
    background: #006837;
}

 /* the hero content */
#hero-1 {
    background-image: url("../images/food-photgraphy-tips.webp");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#hero-1 h1 {
    font-size: 15vw;
    padding-left: 10vw;
    color:#ffffff;
    font-weight: 50px;
    font-size: 100px;
    

}

.spacer {
    height: 100vh;
}

.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}

#main-section {
    background-color:#A67C52; 
        
    padding: 48px;
}



/*
    Media and text side-by-side implementation **************
*/

/*
    As always, applying Flexbox to the container 
    of the elements we want side by side is 
    usually the way to go.

    Remember that for a Flexbox row, the
    align-items property can be used to 
    align content vertically, in this case,
    in the center of the container.
*/
.side-by-side {
    display: flex;
    align-items: center;
    margin: 48px 0px;
    border: 5px solid #006837;
}

/*
    In this case, we have the image and text containers
    with equal sizes (flex: 1), but if you want the 
    image to be larger, or conversely if you want the 
    text area to be larger, you can adjust the flex 
    values assigned to each container.
*/
.side-by-side .image-container {
    flex: 1;
}

.side-by-side .text-container {
    flex: 1;
    padding: 36px;
}

/*
    This code tells the image to stretch
    to fill the container we set up
    above; this means that the image
    will be as flexible as the Flexbox
    item it is inside of.
*/
.side-by-side .image-container img {
    width: 100%;
}

.side-by-side .text-container h3 {
    font-size: 48px;
}

/* fake button styling */
.side-by-side .text-container a {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background-color: #A67C52;
    color: white;
    padding: 24px 48px;
    border-radius: 48px;
}



/* Food cards */

#centered-column {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
    display: flex; 
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
}

.card {
    width: 350px;
    border: 2px solid #006837;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -4px 4px 12px #c4b3a4;
    background-color: #A67C52;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card h2 {
    font-size: 36px;
    margin-top: 12px;
    margin-bottom: 0px;
}

.card p {
    font-size: 18px;
    flex: 1;
}

.card a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #A67C52;
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 3px solid #603813;
    transition:
        background-color .5s,
        color .5s;
}

.card a:hover {
    background-color: transparent;
    color: #006837;
}

#copyright-info {
    background-color: #000000;
    color:white;
    margin-bottom: 50px;
    tex

}


@media screen { 
    
}